
.image-number{
  display: inline-block;
  color :#999999;
  text-align: left;
  padding-bottom: 1px;
  font-family:arial;
  font-size:10px;
  font-weight: bold;
}
.authors{
display:inline-block;
float:right;
border-sizing:border-box;
padding: 5px;
}
.image-caption{
  display: inline-block;
  border-sizing:border-box;
  float:right;
  font-family:arial;
  font-size:10px;
  font-weight: bold;
}


.octocat{
display: inline-block;
width: 350px;
height: :450px;
margin:  5px;
border-bottom: 1px solid grey;
float: left;
position: relative;
}

.octocat div img{
display: inline-block;
width: 20px;
float:left;
padding-bottom:5px;
}

.octocat img{
display: inline-block;
  max-width: 100%;
  border-sizing:border-box;
  border: 1px  solid grey;
}

.octocat:after{
content: " ";
width: 17;
height: 10;
border-style: solid;
border-width: 10px 8.5px 0 8.5px;
border-color: #b4bcc2 transparent transparent transparent;
position: absolute;
right:8px;
bottom:32px;
}

.image-number:before{
content:"#";

}